{% extends 'globals/base.html' %} 
{% load static %}

{% block css %}
	<style type="text/css">
	#navbar {
		background: -webkit-linear-gradient(45deg,#68d0ff,#453cf5 100%);
    	background: 0 0,0 0,0 0,to(#453cf5);
	}

	body {
		padding-top: 10%;
		padding-left: 10%;
	}


	#nav-topbar {
		padding-left: 0;
		border-radius: 0;
		flex-direction: row;
	}

	#nav-topbar .brand-container {
		width: 225px;
		/* Should match width of #nav-sidebar */
		padding-left: 1rem;
	}

	#topbar-menu-container {
		flex-direction: column;
	}

	.navbar-brand i {
		margin-right: .5rem;
	}

	.navbar-toggler {
		font-size: 1.5rem;
		margin-top: .25rem;
	}
	#headers {
			font-size: 1rem;
			font-weight: 500;
			padding-top: 10px;
			color: #000;

	}
	.comment_form  {
		padding-top: 100px;
	}

	.navbar-toggleable-sm .navbar-collapse,
	.navbar-toggleable-md .navbar-collapse {
		width: auto;
		padding-left: 10px;
	}
	.far {
		padding-bottom: 4px;
		padding-top: 4px;
	}

	</style>
	
{% endblock %}  

{% block body %}

    <!--Main Navigation-->
      {% include 'globals/navbar.html' %}
		<!--Main Navigation-->
		<div class="container-fluid">
				<div class="row" >
				      	<div class="card col-md-10" style="background-color:grey;">
			<i class="far fa-clock" style="color:#FFF"> {{complaint.created_at }}</i>
			</div>
				</div>
			</div>
   <div class="container-fluid">
		<div class="row">
				
		      	<div class="card col-md-10">
				  <div >
						
						<h6 id="headers">Title :</h6>
				    <h3>{{complaint.title}}</h3>
						
						<h6 id="headers">Meta-Description :</h6>
				    <h3 class="card-title">{{complaint.meta_description}}</h3>
				  </div>
				  <div>
						<br>
						<h6 id="headers">Description :</h6>
				    <h5 class="card-description">{{complaint.description}}</h5>
				  </div>
				 

					<form class="comment_form">
							<hr>
						<div class="md-form">
							<i class="far fa-comment-alt prefix grey-text"></i>
							<textarea type="text" id="comment" name="comment" class="md-textarea form-control" rows="3"></textarea>
							<label for="form107">New Comment</label>
						</div>

						<button type="button" onclick="makeNewComment('{{complaint.id}}')" class="btn btn-rounded btn-primary btn-md">Comment</button>
					</form>
					<br>
			  		<div class="card">
					  <div class="card-header">
					    Comments
					  </div>
					  	{% for com in comment|dictsortreversed:"commented_at" %}
							<div id="comment-body" class="card-body">
								<blockquote class="blockquote mb-0">
								  <p>{{ com.comment }}</p>
								  <footer class="blockquote-footer">{{com.user.username}} | {{com.commented_at|timesince}} ago </footer>
								</blockquote>
							</div>
					  	{% endfor %}
					</div>
				  	
				  	<br><br><br>
				</div>
				
		</div>
	</div>

    {% block javascript %}
    	<script type="text/javascript">
    		$('.sidebar-expand button').click(function() {
				$(this).toggleClass("flip-y"); 
			  $('#nav-sidebar').toggleClass( "active" );
			});
    	</script>

    	<script type="text/javascript">
    		function makeNewComment(complaint_id){
    			$.ajax({
    				type: 'POST',
    				url: '/new_comment/',
    				data: {
    					'comment': $('#comment').val(),
    					'complaint_id': complaint_id,
    					'csrfmiddlewaretoken': '{{csrf_token}}'
    				},
    				dataType: 'json',
    				success: function(response){
    					location.reload();
    				},
    				error: function(rs, e){
    					alert('error');
    				}
    			});
    		}
    	</script>
    {% endblock %}

{% endblock %}
