{% extends 'globals/base.html' %} 
{% load static %}

{% block css %}
	<style type="text/css">
	#navbar {
		background: -webkit-linear-gradient(45deg,#68d0ff,#453cf5 100%);
    	background: 0 0,0 0,0 0,to(#453cf5);
	}

	body {
		padding-top: 10%;
		padding-left: 10%;
	}


	#nav-topbar {
		padding-left: 0;
		border-radius: 0;
		flex-direction: row;
	}

	#nav-topbar .brand-container {
		width: 225px;
		/* Should match width of #nav-sidebar */
		padding-left: 1rem;
	}

	#topbar-menu-container {
		flex-direction: column;
	}

	.navbar-brand i {
		margin-right: .5rem;
	}

	.navbar-toggler {
		font-size: 1.5rem;
		margin-top: .25rem;
	}

	.navbar-toggleable-sm .navbar-collapse,
	.navbar-toggleable-md .navbar-collapse {
		width: auto;
		padding-left: 10px;
	}

	</style>
	
{% endblock %}  

{% block body %}

    <!--Main Navigation-->
      {% include 'globals/navbar.html' %}
    <!--Main Navigation-->

   <div class="container-fluid">
		<div class="row">
		      	<div class="card col-md-10">
				  <div class="card-header">
				    <h1>{{complaint.title}}</h1>
				    <br>
				    <h3 class="card-title">{{complaint.meta_description}}</h3>
				  </div>
				  <div class="card-body">
				    <br>
				    <h5 class="card-description">{{complaint.description}}</h5>
				  </div>
				  	<button type="button" id="like-button" onclick="likeButton('{{complaint.id}}')" style="width: 110px;" class="btn btn-rounded btn-primary btn-md">
				  		{% if like == 0 %}
				  			<i class="far fa-thumbs-up"></i> Like
				  		{% elif like == 1 %}
				  			<i class="fas fa-thumbs-up"></i> Liked
				  		{% endif %}
				  	</button>

				  	<footer style="color: rgba(0,0,0,.6); padding-left: 50px;">
						<small id="like-count">{{ likes_count }} Likes</small><small id="comment-count" style="margin-left: 40px;">{{ comment.count }} Comments</small>
					</footer>
				  <hr>

					<form>
						<div class="md-form">
							<i class="far fa-comment-alt prefix grey-text"></i>
							<textarea type="text" id="comment" name="comment" class="md-textarea form-control" rows="3"></textarea>
							<label for="form107">New Comment</label>
						</div>

						<button type="button" onclick="makeNewComment('{{complaint.id}}')" class="btn btn-rounded btn-primary btn-md">Comment</button>
					</form>
					<br>
			  		<div class="card">
					  <div class="card-header">
					    Comments
					  </div>
					  	{% for com in comment|dictsortreversed:"commented_at" %}
							<div id="comment-body" class="card-body">
								<blockquote class="blockquote mb-0">
								  <p>{{ com.comment }}</p>
								  <footer class="blockquote-footer">{{com.user.username}} | {{com.commented_at|timesince}} ago </footer>
								</blockquote>
							</div>
					  	{% endfor %}
					</div>
				  	
				  	<br><br><br>
				</div>
				
		</div>
	</div>

    {% block javascript %}
    	<script type="text/javascript">
    		$('.sidebar-expand button').click(function() {
				$(this).toggleClass("flip-y"); 
			  $('#nav-sidebar').toggleClass( "active" );
			});
    	</script>

    	<script type="text/javascript">
    		function likeButton(complaint_id){
    			$.ajax({
    				type: 'POST',
    				url: '/like_button/',
    				data: {
    					'complaint_id': complaint_id,
    					'csrfmiddlewaretoken': '{{csrf_token}}'
    				},
    				dataType: 'json',
    				success: function(response){
    					$('#like-button').html('');
    					$('#like-count').html('');

    					if(response.likes_count >= 1){
    						$('#like-count').html(response.likes_count+' Likes');
    					}
    					else{
    						$('#like-count').html(response.likes_count+' Like');
    					}

    					if(response.like == 0){
    						$('#like-button').html('<i class="far fa-thumbs-up"></i> Like');
    					}
    					else{
    						$('#like-button').html('<i class="fas fa-thumbs-up"></i> Liked');
    					}
    				},
    				error: function(rs, e){
    					alert('error');
    				}
    			});
    		}
    	</script>

    	<script type="text/javascript">
    		function makeNewComment(complaint_id){
    			$.ajax({
    				type: 'POST',
    				url: '/new_comment/',
    				data: {
    					'comment': $('#comment').val(),
    					'complaint_id': complaint_id,
    					'csrfmiddlewaretoken': '{{csrf_token}}'
    				},
    				dataType: 'json',
    				success: function(response){
    					location.reload();
    				},
    				error: function(rs, e){
    					alert('error');
    				}
    			});
    		}
    	</script>
    {% endblock %}

{% endblock %}
