{% extends 'globals/base.html' %}
{% load static %}

{% block css %}
	<style type="text/css">
	#navbar {
		background: -webkit-linear-gradient(45deg,#68d0ff,#453cf5 100%);
    	background: 0 0,0 0,0 0,to(#453cf5);
	}

	body {
		padding-top: 50px;
	}


	main {

		margin-left: 225px;
		/* Should match width of #nav-sidebar. */
		padding: 1rem 15px;
		width: 100%
	}

	#headers {
		font-size: 1rem;
		font-weight: 500;
		padding-top: 10px;
		color: #000;
	}

	#nav-topbar {
		padding-left: 0;
		border-radius: 0;
		flex-direction: row;
	}

	#nav-topbar .brand-container {
		width: 225px;
		/* Should match width of #nav-sidebar */
		padding-left: 1rem;
	}

	#topbar-menu-container {
		flex-direction: column;
	}
	.fas fa-trash-alt {
		size : 10px;
	}

	.navbar-brand i {
		margin-right: .5rem;
	}

	.navbar-toggler {
		font-size: 1.5rem;
		margin-top: .25rem;
	}

	.navbar-toggleable-sm .navbar-collapse,
	.navbar-toggleable-md .navbar-collapse {
		width: auto;
		padding-left: 10px;
	}


	#nav-sidebar {
		position: fixed;
		width: 225px;
		/* Should match width of main margin-left*/
		top: 51px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		padding: 1rem 0;
		overflow-x: hidden;
		overflow-y: auto;
		/* Scrollable contents if viewport is shorter than content. */
		border-right: 1px solid #eee;
		box-shadow: 2px 0 5px 0 rgba(0, 0, 0, .16), 2px 0 10px 0 rgba(0, 0, 0, .12);
		white-space: nowrap;
		transition: all 0.5s ease;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
	}

	.sidebar-expand {
		display: inline-flex;
		margin: 0 0 1.5rem 1rem;
	}

	.sidebar-expand button {
		font-size: 2.5rem;
		line-height: 1.1;
		color: #000;
		background: 0 0;
		border-width: 0;
		border-color: rgba(255, 255, 255, .1);
		cursor: pointer;
		transition: all 0.5s ease;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
	}

	.sidebar-header {
		padding: 0 1rem;
	}

	@media (max-width:767px) {
		#nav-topbar .brand-container,
		#nav-sidebar {
			width: 50px;
		}
		#nav-topbar .brand-container.active,
		#nav-sidebar.active {
			width: 225px;
			min-width: 50px;
			max-width: 225px;
		}
		#nav-sidebar.active .sidebar-content {
			display: block !important;
		}
		main {
			margin-left: 50px;
		}
	}


	.rotate-90cw {
		transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
	}

	.rotate-180cw {
		transform: rotate(180deg);
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
	}

	.rotate-90ccw {
		transform: rotate(-90deg);
		-webkit-transform: rotate(-90deg);
		-moz-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
	}

	.rotate-180ccw {
		transform: rotate(-180deg);
		-webkit-transform: rotate(-180deg);
		-moz-transform: rotate(-180deg);
		-ms-transform: rotate(-180deg);
	}

	.flip-y {
		transform: perspective(100px) rotateY(180deg);
		-webkit-transform: perspective(100px) rotateY(180deg);
		-moz-transform: perspective(100px) rotateY(180deg);
		-ms-transform: perspective(100px) rotateY(180deg);
	}

	.flip-x {
		transform: perspective(100px) rotateX(180deg);
		-webkit-transform: perspective(100px) rotateX(180deg);
		-moz-transform: perspective(100px) rotateX(180deg);
		-ms-transform: perspective(100px) rotateX(180deg);
	}

	#snackbar {
	  visibility: hidden;
	  min-width: 250px;
	  margin-left: -125px;
	  background-color: #5171F8;
		color : #FFFFFF;
	  text-align: center;
	  border-radius: 10px;
	  padding: 16px;
	  position: fixed;
	  z-index: 1;
	  left: 50%;
	  bottom: 30px;
	  font-size: 17px;
	}

	#snackbar.show {
	  visibility: visible;
	  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	  animation: fadein 0.5s, fadeout 0.5s 2.5s;
	}

	@-webkit-keyframes fadein {
	  from {bottom: 0; opacity: 0;}
	  to {bottom: 30px; opacity: 1;}
	}

	@keyframes fadein {
	  from {bottom: 0; opacity: 0;}
	  to {bottom: 30px; opacity: 1;}
	}

	@-webkit-keyframes fadeout {
	  from {bottom: 30px; opacity: 1;}
	  to {bottom: 0; opacity: 0;}
	}

	@keyframes fadeout {
	  from {bottom: 30px; opacity: 1;}
	  to {bottom: 0; opacity: 0;}
	}
	</style>

{% endblock %}

{% block body %}

    {% if request.user.is_authenticated %} 	
		{% if first_time_login == 1 %}
		<div class="alert alert-info" id="snackbar">
	  		<strong>Hello,  {{request.user.username}}</strong>
	  	</div>
		{% elif delete == 1 %}
		<div class="alert alert-info" id="snackbar">
	 		<strong>Deleted</strong>
	 	</div>
	    {% endif %}	
    {% endif %}

    <!--Main Navigation-->
      {% include 'globals/navbar.html' %}
    <!--Main Navigation-->
   <div class="container-fluid">
		<div class="row">
			<nav id="nav-sidebar" class="bg-faded">

				<img src="{% static 'img/landing_image2.jpg' %}" alt="" class="img-fluid">

				<div class="sidebar-content hidden-sm-down">
					<ul class="nav nav-pills flex-column">
						<li class="nav-item">
							<a class="nav-link active" data-toggle="tab" href="#myComplaints">My Complaints <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#allComplaints">All Complaints </a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#new_complaint">File a Complaint</a>
						</li>
					</ul>
				</div>

			</nav>
			<main>
				<div class="tab-content">
			    	<div class="tab-pane active" id="myComplaints">
			    		<br>
						<div id="navbar" class="header">
					      <div class="row d-flex justify-content-center">
					        <h3 class="white-text mb-0 py-5 font-weight-bold">Your Complaints</h3>
					      </div>

					    </div>
						<br>

						{% if complaints.count == 0 %}
							<center><h3>You haven't filed a complaint yet!</h3></center>
							<br>
						{% else %}
					      	{% for complaint in complaints %}
						      	<div style="margin-right: 5%; margin-left: 5%;" class="card">
								  <div class="card-header">
								  	<blockquote class="blockquote mb-0">
										<div class="row">
											<div class="col-10">
												<span>
													<center>
													<h6 style="display: inline-block;" id="headers">Complaint To:</h6>
								  					<h5 style="display: inline-block;">{{complaint.company.company_name}}</h5>
								  					</center>
												</span>
											
											<h6 style="display: inline-block;" id="headers">Title:</h6>	
											<a href="{% url 'index:details' complaint.id %}"><h2 style="margin-inline-start: 20px; writing-mode: horizontal-tb;">{{complaint.title}}</h2></a>
											<h6 style="display: inline-block;" id="headers">Meta Description:</h6>
											<h6 class="card-title"><b style="margin-inline-start: 20px; writing-mode: horizontal-tb;">{{complaint.meta_description}}</b></h6>
											<footer class="blockquote-footer">
												{{complaint.created_at}}
											</footer>

											<br>
											<footer style="color: rgba(0,0,0,.6); padding-left: 50px;">
												<small>{{ complaint.like_complaint.count }} Likes</small><small style="margin-left: 40px;">{{ complaint.for_complaint.count }} Comments</small>
											</footer>
											</div>
											<div class= "col-2">
												<div style="float:right; position: relative;">
													<form action="{% url 'index:deleteDetails' complaint.id %}" method="POST">{% csrf_token %}
														<button style="background-color: transparent; border: none;" type="submit" class="trashhref">
															<i class="fas fa-trash-alt fa-lg" style="color:black;"></i>
														</button>
													</form>
		
												</div>
											</div>
										</div>
									</blockquote>
								  </div>
								</div>
								<br>
							{% endfor %}
						{% endif %}
			    	</div>

			    	<div class="tab-pane" id="allComplaints">
			    		<br>
						<div id="navbar" class="header">
					      <div class="row d-flex justify-content-center">
					        <h3 class="white-text mb-0 py-5 font-weight-bold">All Complaints</h3>
					      </div>

					    </div>
						<br>
						{% if all_complaints.count == 0 %}
							<center><h3>No complaints found!</h3></center>

							<br>
						{% else %}
					      	{% for complaint in all_complaints %}
						      	<div style="margin-right: 5%; margin-left: 5%;" class="card">
								  <div class="card-header">
								  	<blockquote class="blockquote mb-0">
								  		<span>
													<center>
													<h6 style="display: inline-block;" id="headers">Complaint To:</h6>
								  					<h5 style="display: inline-block;">{{complaint.company.company_name}}</h5>
								  					</center>
												</span>
										<h6 style="display: inline-block;" id="headers">Title:</h6>	
										<a href="{% url 'index:details' complaint.id %}"><h2 style="margin-inline-start: 20px; writing-mode: horizontal-tb;">{{complaint.title}}</h2></a>
										<h6 style="display: inline-block;" id="headers">Meta Description:</h6>
										<h6 class="card-title"><b style="margin-inline-start: 20px; writing-mode: horizontal-tb;">{{complaint.meta_description}}</b></h6>
										<footer class="blockquote-footer">
											{{complaint.created_at}}
										</footer>
										<br>
										<footer style="color: rgba(0,0,0,.6); padding-left: 50px;">
											<small>{{ complaint.like_complaint.count }} Likes</small><small style="margin-left: 40px;">{{ complaint.for_complaint.count }} Comments</small>
										</footer>
									</blockquote>
								  </div>
								</div>
								<br>
							{% endfor %}
						{% endif %}
			    	</div>

			    	<div class="tab-pane" id="new_complaint">
			    		<br>
			    		{% include 'index/new_complaint.html' %}
			  		</div>
			      <div class="tab-pane" id="status">3</div>
			      <div class="tab-pane" id="reports">4</div>
			    </div>

				{% include 'globals/footer.html' %}
			</main>
	</div>

	<div id="successModal1" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title white-text mb-0 py-5 font-weight-bold">Success</h2>
          </div>
          <div class="modal-body">
            <h4>The complaint has been successfully submitted and publicly posted after redaction.</h4>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal" onclick="location.reload();">Close</button>
          </div>
        </div>

      </div>
    </div>

    {% block javascript %}

    	<script type="text/javascript">
    		function clickedCompanyName(obj){
    			var value = $(obj).html();
    			$('#dropdown-button').html(value);
    		}
    	</script>

		<script type="text/javascript">
		function downloadJSAtOnload() {
			var x = document.getElementById("snackbar");
			x.className = "show";
			setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
			var element = document.createElement("script");
			element.src = "defer.js";
 			document.body.appendChild(element);
                    }
			if (window.addEventListener)
 			window.addEventListener("load", downloadJSAtOnload, false);
			else if (window.attachEvent)
 			window.attachEvent("onload", downloadJSAtOnload);
			else window.onload = downloadJSAtOnload;
		</script>

    	<script type="text/javascript">
    		$('.sidebar-expand button').click(function() {
				$(this).toggleClass("flip-y");
			  $('#nav-sidebar').toggleClass( "active" );
			});
    	</script>

    	<script type="text/javascript">
    		function submitInput() {
    			$.ajax({
    				type: 'POST',
    				url: '{% url "index:save"%}',
    				data: {
    					'complaint_id':complaintID,
    					'description':description,
    					'csrfmiddlewaretoken': '{{csrf_token}}'
    				},
    				success: function(response){
    					$("#successModal1").modal();
						setTimeout(function(){ location.reload(); }, 5000);
    				},
    				error: function(rs, e){
    					alert("error");
    				}
				});
    		}
    	</script>


    	<script type="text/javascript">
    		function setCharAt(str,index,chr) {
			    if(index > str.length-1) return str;
			    return str.substr(0,index) + chr + str.substr(index+1);
			}
			
			var result ;
			var description ;
			var origDescription ;
			var complaintID ;
    		
    		function new_complaint(){
    			if($('#dropdown-button').html() == 'To (Company)'){
    				alert('Please select the company name');
    				return false;
    			}

    			$.ajax({
    				type: 'POST',
    				url: '/dashboard/',
    				data: {
    					'title': $('#title').val(),
    					'meta_description': $('#meta_description').val(),
    					'description': $('#description').val(),
    					'company_name': $('#dropdown-button').html(),
    					'csrfmiddlewaretoken': '{{csrf_token}}'
    				},

    				success: function(response){
    					result = response.result;
    					curr_complaint = JSON.parse(response.curr_complaint);
    					for(var i=0;i<curr_complaint.length;i++){
    						description = curr_complaint[i].fields['description'];
    						complaintID = curr_complaint[i].pk ;
    					}
    					origDescription = description ;

    					for(var i=0;i<result.length;i++){
    						var text = result[i].text;
    						var type = result[i].type;

    						var start;
    						var end;
    						// console.log(text.length);
    						for(var j=0;j<description.length;j++){
    							start = j;
    							end = j;
    							temp = j
    							for(var k=0;k<text.length;k++){
    								if(description[j]==text[k]){
    									end = j;
    									j++;
    								}
    								else{
    									break;
    								}
    							}
    							if(start!=end && k==text.length){
    								for(var j=start;j<=end;j++){
		    							description = setCharAt(description,j,'$');
		    						}
    							}
    						}
    					}
							
    					$('#complaint-form').css({'display': 'none'});
    					$('#result-tab').css({'display': 'block'});
    					$('#filter-tab').css({'display': 'block'});
    					$('#card-block').append(description);
    				},
    				error: function(rs, e){
    					alert('error');
    				}
    			});
    		}

    		function filterInputs() {
    			var unchecked = new Array() ;
    			if($("#Check1").prop("checked") == false){
    				unchecked.push($("#Check1").attr("name")) ;
    			}
    			if($("#Check2").prop("checked") == false){
    				unchecked.push($("#Check2").attr("name")) ;
    			}
				if($("#Check3").prop("checked") == false){
    				unchecked.push($("#Check3").attr("name")) ;
    			}
    			var originalDescription = origDescription ;
    			if (unchecked.length > 0){
    				for(var i=0;i<result.length;i++){
						var text = result[i].text;
						var type = result[i].type;

						var start;
						var end;
						// console.log(text.length);
						for(var j=0;j<origDescription.length;j++){
							start = j;
							end = j;
							temp = j
							for(var k=0;k<text.length;k++){
								// console.log("description"+description[j]);
								// console.log("text"+text[k]);
								if(origDescription[j]==text[k]){
									end = j;
									j++;
								}
								else{
									break;
								}
							}
							var flag = 0 ;
							for(var k=0; k<unchecked.length; k++){
								if(unchecked[k] == result[i].type){
									flag = 1 ;
									break ;
								}
							}
							if(start!=end && flag==0){
								// console.log(start);
								// console.log(end);
								for(var j=start;j<=end;j++){
	    							origDescription = setCharAt(origDescription,j,'$');
	    						}
							}
						}	
					}
					console.log(origDescription);
					description = origDescription ;
					origDescription = originalDescription ;
					$('#card-block').html(description);
    			}
    			else
				{
					for(var i=0;i<result.length;i++){
						var text = result[i].text;
						var type = result[i].type;

						var start;
						var end;
						// console.log(text.length);
						for(var j=0;j<origDescription.length;j++){
							start = j;
							end = j;
							temp = j
							for(var k=0;k<text.length;k++){
								// console.log("description"+description[j]);
								// console.log("text"+text[k]);
								if(origDescription[j]==text[k]){
									end = j;
									j++;
								}
								else{
									break;
								}
							}
							if(start!=end){
								// console.log(start);
								// console.log(end);
								for(var j=start;j<=end;j++){
	    							origDescription = setCharAt(origDescription,j,'$');
	    						}
							}
						}	
					}
					console.log(origDescription);
					description = origDescription ;
					origDescription = originalDescription ;
					$('#card-block').html(description);
				}
    		}

    		$('#your-custom-id').mdbDropSearch();
    	</script>
    {% endblock %}
{% endblock %}
