{% extends 'globals/base.html' %}
{% load static %}

  {% block css %}

  {% endblock %}

{% block body %}
        <!--Main Navigation-->
        <header>

          {% include 'globals/navbar.html' %}

            <!--Intro Section-->
            <section class="view intro-2 rgba-gradient">
                <div class="mask">
                    <div class="container h-100 d-flex justify-content-center align-items-center">
                        <div class="row flex-center pt-5 mt-3">
                            <div class="col-md-12 col-lg-6 text-center text-md-left margins">
                                <div class="white-text">
                                    <h1 class="h1-responsive font-weight-bold wow fadeInLeft" data-wow-delay="0.3s">Anonymous Complaint Forum</h1>
                                    <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                                    <h6 class="wow fadeInLeft" data-wow-delay="0.3s">Report your problems with full authenticity and leave security concerns on us. Our <b>IBM NLU</b> powered platform detects sensitive information and redacts the posted complain for you. Get rid of manually redacting the whole document 
                                    </h6>
                                    <br>
                                    <a class="btn btn-white btn-rounded blue-text font-weight-bold ml-lg-0 wow fadeInLeft" data-wow-delay="0.3s">About Us</a>
                                    <a href="https://www.ibm.com/watson/services/natural-language-understanding/" class="btn btn-outline-white btn-rounded font-weight-bold wow fadeInLeft" data-wow-delay="0.3s">Learn about IBM NLU</a>
                                </div>
                            </div>

                            <div id="landing-image" class="col-md-12 col-lg-6 wow fadeInRight" data-wow-delay="0.3s">
                                <img src="{% static 'img/landing_image2.jpg' %}" alt="" class="img-fluid">
                            </div>

                            <!--Grid column-->
                            <div class="col-md-6 col-xl-5 mb-4">

                              <!--Card-->
                              <div class="card">

                                <!--Card content-->
                                <div class="card-body">

                                  <!-- Login Form -->
                                  <form style="display: none;" id="login-form" name="" action="{% url 'index:login' %}" method="POST">
                                    {% csrf_token %}
                                    <!-- Heading -->
                                    <h3 class="dark-grey-text text-center">
                                      <strong>Login</strong>
                                    </h3>
                                    <hr>

                                    <div class="md-form">
                                      <i class="fas fa-user prefix grey-text"></i>
                                      <input type="text" id="form3" class="form-control" name="username">
                                      <label for="form3">Username</label>
                                    </div>
                                    <div class="md-form">
                                      <i class="fas fa-lock prefix grey-text"></i>
                                      <input type="password" id="form2" class="form-control" name="password">
                                      <label for="form2">Password</label>
                                    </div>

                                    <div class="text-center">
                                      <button class="btn btn-indigo">Login</button>
                                      <hr>
                                      <label>Start with a new account <a onclick="toggleSignup()" style="display: inline-block; color: #453cf5">Sign Up</a></label>
                                    </div>

                                  </form>
                                  <!-- Form -->


                                  <!-- Signup Form -->
                                  <form style="display: none;" id="signup-form" name="" action="{% url 'index:index'%}" method="POST">
                                    {% csrf_token %}
                                    <!-- Heading -->
                                    <h3 class="dark-grey-text text-center">
                                      <strong>Signup</strong>
                                    </h3>
                                    <hr>
                                    {{form.username.errors}}
                                    <div class="md-form">
                                      <i class="fas fa-user prefix grey-text"></i>
                                      <!-- <input type="text" id="form3" class="form-control"> -->
                                      {{form.username}}
                                      <label for="form3">Username</label>
                                    </div>
                                    {{form.email.errors}}
                                    <div class="md-form">
                                      <i class="fas fa-envelope prefix grey-text"></i>
                                      <!-- <input type="email" id="form2" class="form-control"> -->
                                      {{form.email}}
                                      <label for="form2">Email</label>
                                    </div>
                                    {{form.password1.errors}}
                                    <div class="md-form">
                                      <i class="fas fa-lock prefix grey-text"></i>
                                      <!-- <input type="password" id="form2" class="form-control"> -->
                                      {{form.password1}}
                                      <label for="form2">Password</label>
                                    </div>
                                    {{form.password2.errors}}
                                    <div class="md-form">
                                      <i class="fas fa-check prefix grey-text"></i>
                                      <!-- <input type="password" id="form2" class="form-control"> -->
                                      {{form.password2}}
                                      <label for="form2">Confirm Password</label>
                                    </div>

                                    <div class="text-center">
                                      <button class="btn btn-indigo">Sign Up</button>
                                      <hr>
                                      <label>Start with a new account <a onclick="toggleLogin()" style="display: inline-block; color: #453cf5">Login</a></label>
                                    </div>

                                  </form>
                                  <!-- Form -->
                                </div>

                              </div>
                              <!--/.Card-->

                            </div>
                            <!--Grid column-->


                        </div>
                    </div>
                </div>
            </section>
        </header>
        <!--Main Navigation-->

        <!--Footer-->
        {% include 'globals/footer.html'%}
        <!--/.Footer-->

    <div id="successModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title">Success</h2>
          </div>
          <div class="modal-body">
            <h4>You have been succesfully registered</h4>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>

    <div id="errorModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title">error</h2>
          </div>
          <div class="modal-body">
            <h4>Login credentials are incorrect. Please try again</h4>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>

    {% block javascript %}

        {% if status == 3 %}
            <script type="text/javascript">
                toggleSignup();
            </script>
        {% endif %}

        {% if status == 2 %}
            <script type="text/javascript">
                $("#successModal").modal() ;
            </script>
        {% endif %}

        {% if status == 4 %}
            <script type="text/javascript">
                $("#errorModal").modal() ;
            </script>
        {% endif %}

      <script>
              // $('.card-body').css({'display': 'none'});
          function toggleSignup(){
              $('#landing-image').css({'display': 'none'});
              $('.card-body').css({'display': 'block'});
              $('#signup-form').css({'display': 'block'});
              $('#login-form').css({'display': 'none'});
          }

          function toggleLogin(){
              $('.card-body').css({'display': 'block'});
              $('#landing-image').css({'display': 'none'});
              $('#signup-form').css({'display': 'none'});
              $('#login-form').css({'display': 'block'});
          }
      </script>

    {% endblock %}

{% endblock %}
