<!-- Section: form gradient -->
  <div style="display: none;" id="result-tab" class="card">
    <!--Card content-->
    <br>
    <div id="card-block" class="card-block">
    </div>
    <!--/.Card content-->

  </div>

<section id="complaint-form" class="form-gradient mb-5">

  <!--Form with header-->
  <div class="card">

    <!--Header-->
    <div id="navbar" class="header">

      <div class="row d-flex justify-content-center">
        <h3 class="white-text mb-0 py-5 font-weight-bold">File a Complaint</h3>
      </div>

    </div>
    <!--Header-->

    <div class="card-body mx-4">
      <form>{% csrf_token %}
      <div class="md-form">
        <i class="fas fa-user prefix grey-text"></i>
        <input type="text" id="title" name="title" class="form-control">
        <label for="form104">Title</label>
      </div>

      <div class="md-form">
        <i class="fas fa-envelope prefix grey-text"></i>
        <input type="text" id="meta_description" name="meta_description" class="form-control">
        <label for="form105">Meta Description</label>
      </div>

      <div class="md-form">
        <i class="fas fa-pencil-alt prefix grey-text"></i>
        <textarea type="text" id="description" name="description" class="md-textarea form-control" rows="5"></textarea>
        <label for="form107">Description</label>
      </div>


      <!--Grid row-->
      <div class="row d-flex align-items-center mb-3 mt-4">

        <!--Grid column-->
        <div class="col-md-12">
          <div class="text-center">
            <button type="button" onclick="new_complaint()" class="btn btn-rounded btn-primary btn-md">Submit</button>
          </div>
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->
    </form>
    </div>

  </div>
  <!--/Form with header-->

</section>
<!-- Section: form gradient -->
