<!--Navbar-->
{% block css %}
	<style type="text/css">
    .username {

      font-size: 1.5rem;
  		margin-top: .25rem;
      padding-top: 1%;
      padding-left: 20px;
      color : #FFFFFF;
    }
    </style>
{% endblock %}
<nav id="navbar" class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link btn btn-outline-white btn-rounded font-weight-bold wow fadeInRight" href="{% url 'index:index'%}">Home</a>
                </li>
            </ul>
            {% if request.user.is_authenticated %}
            <ul class="navbar-nav ml-auto">
                <a href="{% url 'index:dashboard'%}" class="btn btn-outline-white btn-rounded font-weight-bold wow fadeInLeft">Dashboard</a>
                <a href="{% url 'index:logout'%}" class="btn btn-outline-white btn-rounded font-weight-bold wow fadeInLeft">Log Out</a>
            </ul>
            {% else %}
                <ul class="navbar-nav ml-auto">
                  <a onclick="toggleLogin()" class="btn btn-white btn-rounded blue-text font-weight-bold ml-lg-0 wow fadeInLeft" data-wow-delay="0.3s">Login</a>
                  <a onclick="toggleSignup()" class="btn btn-outline-white btn-rounded font-weight-bold wow fadeInLeft" data-wow-delay="0.3s">Sign Up</a>
                </ul>
            {% endif %}
                {% if request.user.is_authenticated %}
                <i class="fas fa-user-alt" style="color:white;padding-left:30px;font-face:"arial"; "> {{ request.user.username }} </i>
                {% endif %}
    </div>
</nav>
